<!DOCTYPE html>
<html lang="en">
<head>
  {{>head}}
</head>
<body>
  {{>navbar}}
  <div class="container">
    {{>header}}
    <div class="content">
      <img src="/img/20180716213548_vZjVn.jpeg" width="250px">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit sapiente, aliquam repellendus obcaecati commodi error aliquid eius iste vero ipsum repellat laudantium sequi asperiores debitis ipsa, nemo eaque, quis fugiat.</p>
    </div>
  </div>
  {{>footer}}
</body>
</html>