<!DOCTYPE html>
<html lang="en">
<head>
  {{>head}}
</head>
<body>
  {{>navbar}}
  <div class="container">
    {{>header}}
    <div class="content">
      <p>{{message}}</p>
    </div>
  </div>
  {{>footer}}
</body>
</html>